*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: $light;
}

body {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
}

footer {
  display: flex;
  background: $mustard;

  > a {
    color: $dark;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0.5px $dark solid;

    &:hover {
      background: $brown;
    }
  }
}

.outset {
  border-style: outset;
}

.active {
  background-color: $brown;
}
