h1 {
  @extend %h1-styling;
  text-align: center;
}
.cinemabody {
}
.cinemawhole {
  background-color: $dark;
}
.cinemazip {
  color: $light;
  margin: 15px;
  margin-left: 120px;
  width: 137px;
  border: 3px solid $light;
  text-align: center;
}
.mapouter {
  position: relative;
  text-align: center;
  height: 150px;
  width: 387px;
  margin: 15px;
  padding: 15px;
  padding-left: 20px;
  background-color: $red;
  border: 3px solid $light;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 120px;
  width: 390px;
}
/*.cinemamain {
  width: 100%;
}*/
.cinemasection {
  display: flex;
  flex-direction: row;
  border: 3px solid $light;
  margin: 15px;
  font-family: $font;
  background-color: $red;
  width: 387px;
}
h4 {
  color: $mustard;
  margin: 5px;
}
h5 {
  margin: 3px;
}
.cinemaimg {
  width: 90px;
  margin: 10px;
}
.cinemainfo {
  color: $light;
}
.cinemaicons {
  i {
    margin: 7px;
  }
}
