h1 {
  @extend %h1-styling;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  font-family: $font;
  h3 {
    font-style: italic;
  }
}

.card {
  display: grid;
  padding: 10px;
  background: $dark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  grid-template-rows:
    max-content
    200px 1fr;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
